.friendsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.friendsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  padding-inline-start: 0;
}

.friendsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 350px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}

.friendsItem:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.statusIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.5rem;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.friendsItem:hover .statusIcon {
  opacity: 0.9;
  display: block;
}

.online {
  color: #10b981;
  text-shadow: 0px 0px 8px rgba(16, 185, 129, 0.7);
}
.offline {
  color: #ef4444;
  text-shadow: 0px 0px 8px rgba(239, 68, 68, 0.7);
}

.friendsAvatar {
  border: 3px solid (255, 255, 255, 0.5);
  object-fit: cover;
  display: block;
  background-color: aliceblue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.friendsItem:hover .friendsAvatar {
  transform: scale(1.1);
}

.friendName {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  color: #ffff;
}
